# Port
PORT=8082

# Database
HOST_DB=103.249.117.202
PORT_DB=46269
USERNAME_DB=myuser
PASSWORD_DB=123456
DATABASE_DB=mydb

# API Keys
PRODUCT_API_KEY=lethanhcong
X_API_KEY="lT0O|c_/4<{;K|.Ann[Cuib+7l+LL#W_-Y,T>w}8Mmeu}Z[el<1*|v.p&Wg}Mp%y:0$]4m&;5,8m5JN-,S<h#}"
