# Order Service Configuration
PORT=8087

# Database
HOST_DB=103.249.117.202
PORT_DB=46269
USERNAME_DB=myuser
PASSWORD_DB=123456
DATABASE_DB=mydb

# API Keys
ORDER_API_KEY=lethanhcong
X_API_KEY="lT0O|c_/4<{;K|.Ann[Cuib+7l+LL#W_-Y,T>w}8Mmeu}Z[el<1*|v.p&Wg}Mp%y:0$]4m&;5,8m5JN-,S<h#}"

# Product Service Connection
HOST_PRODUCT_SERVICE=localhost
PORT_PRODUCT_SERVICE=8082
PRODUCT_API_KEY=lethanhcong

# Table Service Connection
HOST_TABLE_SERVICE=localhost
PORT_TABLE_SERVICE=8083
TABLE_API_KEY=lethanhcong

# RabbitMQ Configuration
CONNECTION_AMQP=amqp://supper:supper@103.249.117.202:46270
NAME_QUEUE=local_order

# Business Configuration
TAX_RATE=0.1
